<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028136157719-kfnfd0pvgbdt6frm8rf361ubu5j1ukoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028136157719-kfnfd0pvgbdt6frm8rf361ubu5j1ukoi</string>
	<key>API_KEY</key>
	<string>AIzaSyBiETcNEugxp9_FnF16lGe-2eJbjMiDVYI</string>
	<key>GCM_SENDER_ID</key>
	<string>1028136157719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FrogletGames.Tail-Glider</string>
	<key>PROJECT_ID</key>
	<string>starwriter-7486e</string>
	<key>STORAGE_BUCKET</key>
	<string>starwriter-7486e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028136157719:ios:4f84f37151bcb1d7a8d252</string>
</dict>
</plist>